// ------------------------------------------------------------
// Footer
//
// ------------------------------------------------------------

.footer {
  background: $color--header-footer-background;
  border-top: 1px solid $color--border;
  padding: 60px 0 120px;
}