// ------------------------------------------------------------
// Colors
//
// ------------------------------------------------------------

$color--accent: rgb(54,209,173);
$color--overlay: rgba(0, 0, 0, 0.6);
$color--background: #fff;

$color--header-footer-background: #eee;

$color--text: #333;
$color--a: #999;

$color--border: #9a9a9a;