// ------------------------------------------------------------
// Typography and helper classes
//
// ------------------------------------------------------------

$font-family--brand: 'Indie Flower', cursive;
$font-family--body: 'Roboto', sans-serif;

.text--center {
  text-align: center;
}