// ------------------------------------------------------------
// Posts
//
// ------------------------------------------------------------

.instagrannar-map {
  @include size(100%, 240px);

  position: relative;

  &:before {
    @include center(both);
    @include circle(50px);

    background: rgba(0,0,0, 0.3);
    content: '';
    z-index: $z-index-1;
  }
}