// ------------------------------------------------------------
// Links
//
// ------------------------------------------------------------

a {
  color: $color--a;
  text-decoration: none;

  &:visited {
    color: $color--a;
    text-decoration: none;
  }

  &:hover {
    color: $color--text;
  }
}